footer {
  border-top: var(--border-rule);
  background-color: var(--nw-white);
  font-size: var(--body-font-size-s);
}

footer .footer > div {
  display: grid;
  gap: var(--space-l);
  max-width: var(--grid-container-width);
  margin: auto;
  padding: var(--space-2xl) var(--content-padding-inline);
}

footer .footer .section {
  margin: 0;
  padding: 0;
}

footer .footer p {
  margin: 0;
}

footer .footer .footer-brand img {
  display: block;
  width: 240px;
  height: auto;
  aspect-ratio: auto;
}

footer .footer .footer-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s) var(--space-xl);
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .footer .footer-links a:any-link {
  color: var(--nw-dark-blue);
  font-family: var(--font-family-condensed);
  font-size: var(--body-font-size-m);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

footer .footer .footer-links a:hover {
  text-decoration: underline;
}

footer .footer .footer-legal {
  padding-top: var(--space-l);
  border-top: 1px solid var(--color-gray-300);
  color: var(--color-gray-700);
}

footer .footer .footer-legal .default-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

footer .footer .footer-legal a:any-link {
  color: var(--nw-dark-blue);
}

@media (width >= 900px) {
  footer .footer > div {
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: var(--space-3xl);
  }

  footer .footer .footer-links ul {
    justify-content: flex-end;
  }

  footer .footer .footer-legal {
    grid-column: 1 / -1;
  }

  footer .footer .footer-legal .default-content-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
